# Whitelist: do repa jde JEN web (index, admin, obrázky bez originálů).
# Smlouvy, nabídky a interní soubory NIKDY nesmí do veřejného repa.
/*
!/.gitignore
!/index.html
!/sprava-k7m2x9q4vb.html
!/favicon.svg
!/robots.txt
!/sitemap.xml
!/admin-manifest.webmanifest
!/img
img/originals/
